@model HomeViewModel
@{
    ViewData["Title"] = "Index";
}

<!-- banner -->
<section class="hotel-banner imgLoad">
    <div class="hotel-cover-frame">
        <img class="lozad" src="~/img/@Model.BannerImages.ImageName" alt="banner" class="hotel-parallax" />
    </div>
    <div class="hotel-overlay"></div>

    <div class="hotel-banner-content">
        <div class="container">
            <div class="hotel-main-title">
                <div class="hotel-white">
                    <ul class="hotel-stars">
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                    </ul>
                    <!-- main-title -->
                    <h1 class="hotel-center hotel-mb-10">
                        @Model.Banners.Title
                    </h1>
                    <div class="hotel-mb-30 hotel-center">
                        @Model.Banners.Description
                    </div>
                </div>
            </div>
            <div class="hotel-book-form hotel-book-form-2">
                <form>
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-3">
                            <div class="hotel-input-frame hotel-book-form-2">
                                <label for="check-in">Gəliş</label>
                                <input id="check-in"
                                       type="text"
                                       class="datepicker-here"
                                       data-position="bottom left"
                                       placeholder="Tarix seçin"
                                       autocomplete="off"
                                       readonly="readonly" />
                            </div>
                        </div>
                        <div class="col-12 col-lg-3">
                            <div class="hotel-input-frame">
                                <label for="check-out" class="hotel-add-icon">Gediş</label>
                                <input id="check-out"
                                       type="text"
                                       class="datepicker-here"
                                       data-position="bottom left"
                                       placeholder="Tarix seçin"
                                       autocomplete="off"
                                       readonly="readonly" />
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="hotel-select-frame">
                                <label for="person">Böyük</label>
                                <select id="person">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4" disabled>4</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6 col-lg-2">
                            <div class="hotel-select-frame">
                                <label for="children">Uşaq</label>
                                <select id="children">
                                    <option value="1">0</option>
                                    <option value="2">1</option>
                                    <option value="3">2</option>
                                    <option value="3" disabled>3</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-lg-1 text-center imgLoad">
                            <button type="submit" class="hotel-btn">
                                <img class="lozad" src="~/img/icons/search.svg"
                                     class="hotel-zoom"
                                     alt="icon" /><span>Axtar</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="hotel-scroll-hint-frame">
                <div class="hotel-white hotel-mb-20">Aşağı çəkin</div>
                <a href="#hotel-triger-1"
                   class="hotel-scroll-hint knsk-s-s"></a>
            </div>
        </div>
    </div>
</section>
<!-- banner end -->
<!-- features -->
<section id="hotel-triger-1">
    <div class="container">
        <!-- features card -->
        <div class="hotel-features-card" style="margin-top: -80px">
            <div class="row">
                @foreach (var item in Model.Features)
                {
                    <div class="col-6 col-lg-3">
                        <!-- icon box -->
                        <div class="hotel-icon-box imgLoad">
                            <img class="lozad" src="~/img/@item.ImageName"
                                 alt="icon"
                                 class="hotel-mb-10" />
                            <h5>@item.Title</h5>
                        </div>
                        <!-- icon box end -->
                    </div>

                }
            </div>
        </div>
        <!-- features card end -->
    </div>
</section>
<!-- features end -->
<!-- about -->
<section class="hotel-p-100-100">
    <div class="container">
        <div class="hotel-about-card">
            <div class="row no-gutters">
                <div class="col-lg-6 imgLoad">
                    <div class="hotel-about-photo">
                        <img class="lozad" src="~/img/about/t1.jpg" alt="cover" />
                    </div>
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="hotel-about-text">
                        <div class="hotel-title-frame">
                            <h2 class="hotel-mb-20">
                                17+ illik təcrübəmiz var.
                            </h2>
                            <p class="hotel-mb-30">
                                Lorem ipsum dolor sit, amet consectetur
                                adipisicing elit. Quia expedita quisquam
                                voluptas eaque voluptates ab ipsa adipisci
                                eveniet temporibus voluptate ut repellendus
                                dicta, nesciunt corporis neque ad nihil placeat
                                soluta.
                            </p>
                            <a href="about.html" class="hotel-btn hotel-btn-md">Daha Çox</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-lg-2 imgLoad">
                    <div class="hotel-about-photo">
                        <img class="lozad" src="~/img/about/t2.jpg" alt="cover" />
                    </div>
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="hotel-about-text">
                        <div class="hotel-title-frame">
                            <h2 class="hotel-mb-20">
                                İnanılmaz macəranıza başlayın!
                            </h2>
                            <p class="hotel-mb-30">
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Alias quidem reiciendis,
                                totam quo corporis nam et saepe incidunt facere
                                tempore pariatur ea porro aliquid quasi eius
                                cumque atque expedita possimus.
                            </p>
                            <a href="rooms.html" class="hotel-btn hotel-btn-md">Otaq Seçin</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about end -->
<!-- gallery -->
<section class="hotel-transition-top hotel-p-0-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="
									hotel-center
									hotel-title-frame
									hotel-scroll-animation
									hotel-mb-100
								">
                    <h2 class="hotel-mb-20">Sizi gözləyirik!</h2>
                    <p class="hotel-mb-30">
                        Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Libero esse vero, a illum iure quidem porro,
                        molestiae asperiores, explicabo repellendus fugit
                        corrupti sint soluta sed quod rerum laudantium
                        expedita quo..
                    </p>
                </div>
            </div>
            <div class="col-lg-12">
                <!-- slider -->
                <div class="swiper-container hotel-about-slider hotel-scroll-animation">
                    <div class="swiper-wrapper">
                        @foreach (var item in Model.Swipers)
                        {
                            <div class="swiper-slide imgLoad">
                                <!-- gallery item -->
                                <div class="hotel-image-frame">
                                    <a data-fancybox="gallery"
                                       href="~/img/@item.ImageName">
                                        <img class="lozad" src="~/img/@item.ImageName" alt="about" />
                                        <div class="hotel-badge">@item.Badge</div>
                                        <span class="hotel-zoom">
                                            <i class="fas fa-search-plus"></i>
                                        </span>
                                    </a>
                                </div>
                                <!-- gallery item end -->
                            </div>

                        }

                    </div>

                    <!-- slider navigation -->
                    <div class="hotel-slider-nav-panel">
                        <!-- pagination -->
                        <div class="hotel-about-slider-1-pagination"></div>
                        <!-- navigation -->
                        <div class="hotel-about-slider-nav">
                            <div class="hotel-about-slider-1-prev">
                                <i class="fas fa-arrow-left"></i>
                            </div>
                            <div class="hotel-about-slider-1-next">
                                <i class="fas fa-arrow-right"></i>
                            </div>
                        </div>
                        <!-- navigation end -->
                    </div>
                    <!-- slider navigation end -->
                </div>
                <!-- slider end -->
            </div>
        </div>
    </div>
</section>
<!-- gallery end -->
<!-- counters -->
<section class="hotel-p-0-100" style="background-color: #fff">
    <div class="container">
        <!-- features card -->
        <div class="
							hotel-features-card hotel-counters-card hotel-scroll-animation
						">
            <div class="row">
                <div class="col-6 col-lg-3">
                    <!-- icon box -->
                    <div class="hotel-icon-box">
                        <div class="hotel-counter-number hotel-mb-10"
                             data-count="4"></div>
                        <h5>Yazı 1</h5>
                    </div>
                    <!-- icon box end -->
                </div>
                <div class="col-6 col-lg-3">
                    <!-- icon box -->
                    <div class="hotel-icon-box">
                        <div class="hotel-counter-number hotel-mb-10"
                             data-count="127"></div>
                        <h5>Yazı 2</h5>
                    </div>
                    <!-- icon box end -->
                </div>
                <div class="col-6 col-lg-3">
                    <!-- icon box -->
                    <div class="hotel-icon-box">
                        <div class="hotel-counter-number hotel-mb-10"
                             data-count="6"></div>
                        <h5>Yazı 3</h5>
                    </div>
                    <!-- icon box end -->
                </div>
                <div class="col-6 col-lg-3">
                    <!-- icon box -->
                    <div class="hotel-icon-box">
                        <div class="hotel-counter-number hotel-mb-10"
                             data-count="4586"></div>
                        <h5>Yazı 4</h5>
                    </div>
                    <!-- icon box end -->
                </div>
            </div>
        </div>
        <!-- features card end -->
    </div>
</section>
<!-- counters end -->
<!-- rooms -->
<section class="hotel-transition-bottom" style="background-color: #fff">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="hotel-center hotel-title-frame hotel-scroll-animation hotel-mb-100">
                    <h2 class="hotel-mb-20">Ən Yaxşı Otaqlarımız</h2>
                    <p class="hotel-mb-30">
                        Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Natus, quam, soluta facere, dolores est ab
                        dolore praesentium nisi eaque enim voluptates quaerat
                        atque numquam consectetur minima. A perferendis in
                        eligendi.
                    </p>
                    <a href="rooms-1.html" class="hotel-btn hotel-btn-md">Bütün Otaqlar</a>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="swiper-container hotel-uni-slider">
                    <div class="swiper-wrapper">
                        @foreach (var room in Model.Rooms)
                        {
                            <div class="swiper-slide">
                                <!-- room card -->
                                <div class="hotel-room-card hotel-scroll-animation">
                                    <div class="hotel-cover-frame imgLoad">
                                        <a href="room.html">
                                            <img class="lozad" src="~/img/@room.Image" alt="cover" />
                                        </a>
                                        <div class="hotel-badge">@room.Badge</div>
                                    </div>
                                    <div class="hotel-description-frame">
                                        <div class="hotel-room-features">
                                            <div class="hotel-feature imgLoad">
                                                <div class="hotel-icon-frame">
                                                    <img class="lozad" src="~/img/icons/@room.BedIcon" alt="icon" />
                                                </div>
                                                <span>@room.NumberOfPeople</span>
                                            </div>
                                            <div class="hotel-feature imgLoad">
                                                <div class="hotel-icon-frame">
                                                    <img class="lozad" src="~/img/icons/@room.SquareIcon" alt="icon" />
                                                </div>
                                                <span>@room.Square</span>
                                            </div>
                                        </div>
                                        <a href="room.html">
                                            <h3 class="hotel-mb-20">@room.RoomType</h3>
                                        </a>
                                        <div class="hotel-text-light hotel-text-sm hotel-mb-20">
                                            @room.Description
                                        </div>
                                        <div class="hotel-card-bottom imgLoad">
                                            <div class="hotel-price">
                                                @room.Price <span> @room.PerNight</span>
                                            </div>
                                            <a href="room.html" class="hotel-btn">
                                                <img class="lozad" src="~/img/icons/@room.BookmarkIcon" alt="icon" />@room.Reservation
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- room card end -->
                            </div>
                        }

                    </div>

                    <!-- slider navigation -->
                    <div class="hotel-uni-slider-nav-panel">
                        <div class="hotel-uni-slider-pagination"></div>
                        <div class="hotel-uni-nav">
                            <div class="hotel-uni-slider-prev">
                                <i class="fas fa-arrow-left"></i>
                            </div>
                            <div class="hotel-uni-slider-next">
                                <i class="fas fa-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                    <!-- slider navigation end -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- rooms end -->
<!-- testimonials -->
<section class="hotel-transition-top hotel-p-0-80"
         style="background-color: #fff; padding-top: 8rem">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="hotel-center hotel-title-frame hotel-scroll-animation hotel-mb-80">
                    <h2 class="hotel-mb-20">Qonaqlarımızdan gələn rəylər</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Fugiat, ullam. Aut quis, voluptatibus,
                        voluptate, reprehenderit totam ea vel ipsum
                        voluptates quae officia temporibus?
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <!-- slider -->
                <div class="swiper-slider hotel-testimonials-slider hotel-scroll-animation">
                    <div class="swiper-wrapper">
                        @foreach (var slider in Model.Sliders)
                        {
                            <div class="swiper-slide">
                                <div class="hotel-testimonial-card">
                                    <div class="hotel-avatar-frame imgLoad">
                                        <img class="lozad" src="~/img/@slider.Image" alt="Avatar" />
                                    </div>
                                    <div class="hotel-name-and-text">
                                        <h3 class="hotel-mb-10">@slider.Name</h3>
                                        <div>@slider.City</div>
                                        <blockquote>
                                            <ul class="hotel-stars">
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li class="hotel-empty">
                                                    <i class="fas fa-star"></i>
                                                </li>
                                            </ul>
                                            @slider.Description
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="hotel-testimonials-nav">
                        <div class="hotel-testimonials-slider-1-prev">
                            <i class="fas fa-arrow-left"></i>
                        </div>
                        <div class="hotel-testimonials-slider-1-next">
                            <i class="fas fa-arrow-right"></i>
                        </div>
                    </div>
                </div>
                <!-- slider end -->
            </div>
        </div>
    </div>
</section>
<!-- testimonials end -->
